.example-spacer {
    flex: 1 1 auto;
}
.example-card {
    max-width: 400px;
    background-position: center;
}

.example-header-image {
    background-image: url("https://ivona.ua/i/54/41/45/4/5441454/824be3001faf12e9cd64b4a4b5e1eaa6-quality_100Xallow_enlarge_0Xw_600Xh_0.jpg");
    background-size: cover;
}
